# Log files
*.log

# Compiled source code
*.class
*.o
*.so

# Temporary files and directories
*.tmp
*.swp
*.bak

# Package files
*.jar
*.war
*.tar.gz

# OS-specific files
.DS_Store
Thumbs.db

# Virtual machine crash logs
hs_err_pid*
replay_pid*

